@font-face {
  font-family: "Sofia Pro";
  src: url(fonts/SofiaProBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Sofia Pro";
  src: url(fonts/SofiaProMedium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Circular Std";
  src: url(fonts/CircularStd-Medium.ttf);
  font-weight: 500;
}
