.content {
  margin-right: 52px;
  padding-bottom: 21px;
  display: grid;
  grid-area: c;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 21px;
}

.card {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: all ease 0.3s;
}

.card:hover,
.vericalCard.scaled .card {
  transition: all ease 0.3s;
  transform: scale(1.05);
}

.like {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.vericalCard:hover .like {
  transition: all ease 0.3s;
  transform: translate(10px, -10px);
}

.vericalCard .like:active {
  transform: scale(0.8) translate(10px, -10px);
}

.like img {
  background-image: url("../like.svg");
  transition: all ease 0.3s;
}

.like.pressed img {
  background-image: url("../likePressed.svg");
  transform: rotate(360deg);
  transition: all ease 0.3s;
}

.horizontalCard {
  display: grid;
  border-radius: 15px;
  grid-column: span 2;
  grid-row: span 1;
}

.vericalCard {
  position: relative;
  grid-column: span 1;
  grid-row: span 2;
}

.discountCard {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bce7f0 url(./../photos/img-1.png) no-repeat;
  background-size: cover;
}

.summerCard {
  background: #c3e9ff url(./../photos/img-2.png) no-repeat;
  background-size: cover;
}

.trendingCard {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4de4d url(./../photos/img-7.png) no-repeat;
  background-size: cover;
}

.newInStoreCard {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ede9e6 url(./../photos/img-8.png) no-repeat;
  background-size: cover;
}

.trendingCard h2,
.newInStoreCard h2 {
  font-size: 26px;
  margin-bottom: 8px;
}

.trendingCard h2 {
  color: #001aa2;
}

.newInStoreCard h2 {
  color: #fd2e24;
}

.trendingCard p,
.newInStoreCard p {
  font-size: 15px;
  margin: 0;
}

@media screen and (min-width: 2000px) {
  .card:hover,
  .vericalCard.scaled .card {
    transform: scale(1.02);
  }
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 40px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 24px;
  }
  .discountCard {
    font-size: 40px;
  }
}

@media (min-width: 1700px) {
  .like {
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
  }
  .vericalCard:hover .like {
    transform: translate(10px, -10px);
  }

  .vericalCard .like:active {
    transform: scale(0.8) translate(10px, -10px);
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  .card:hover,
  .vericalCard.scaled .card {
    transform: scale(1.02);
  }
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 35px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 20px;
  }
  .discountCard {
    font-size: 35px;
  }
}

@media screen and (max-width: 1300px) {
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 21px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 13px;
  }
  .discountCard {
    font-size: 27px;
  }
}

@media screen and (max-width: 1199px) {
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 19px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 11px;
  }
  .discountCard {
    font-size: 24px;
  }
}

@media screen and (max-width: 1050px) {
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 19px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 11px;
  }
}

@media screen and (max-width: 991px) {
  .trendingCard h2,
  .newInStoreCard h2 {
    font-size: 17px;
  }
  .trendingCard p,
  .newInStoreCard p {
    font-size: 10px;
  }
  .discountCard {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .like {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .vericalCard:hover .like {
    transform: translate(5px, -5px);
  }
  .vericalCard .like:active {
    transform: scale(0.8) translate(5px, -5px);
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  .horizontalCard {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discountCard {
    background-position: 50%;
  }
  .summerCard {
    background-position: 1%;
  }
  .trendingCard {
    padding: 10px;
    background-position: 53%;
    align-items: start;
  }
  .newInStoreCard {
    padding: 10px;
    background-position: 140%;
    align-items: flex-end;
  }
}
