.like {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
