.sidebar {
  position: fixed;
  grid-area: s;
}

.navHolder {
  padding: 51px 56px 59px 42px;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-bottom: 57px;
}

.title {
  padding: 0;
  margin-bottom: 61px;
  font-size: 30px;
}

.navItem {
  margin-bottom: 25px;
}

.navItem:hover {
  transform: translate(10px, 0px);
  transition: all ease 0.3s;
}

.navItem:active,
.help:active {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.navItem:last-child {
  margin-bottom: 0;
}

.navItem,
.help {
  transition: all ease 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.navItem img,
.help img {
  margin-right: 10px;
}
