.sidebar {
  padding: 51px 56px 59px 42px;
  grid-area: s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(255, 252, 240); */
}

.logo {
  margin-bottom: 57px;
}

.title {
  padding: 0;
  margin-bottom: 61px;
  font-size: 30px;
}

.navItem {
  margin-bottom: 25px;
}

.navItem,
.help {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.navItem img,
.help img {
  margin-right: 10px;
}
