a {
  text-decoration: none;
  color: #000;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: [h] 143px;
  grid-template-columns: [s] minmax(140px, 252px);
  grid-column-gap: 37px;
  grid-template-areas:
    "s h h h h"
    "s c c c c"
    "s c c c c";
}

@media screen and (max-width: 1199px) {
  .App {
    grid-column-gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    grid-column-gap: 0;
    grid-template-columns: [s] minmax(100px, 252px);
  }
}

@media screen and (max-width: 480px) {
  .App {
    grid-template-columns: [s] minmax(10px, 100px);
  }
}
