a {
  text-decoration: none;
  color: #000;
  padding: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: [h] 143px;
  grid-template-columns: [s] 252px;
  grid-column-gap: 37px;
  grid-template-areas:
    "s h h h h"
    "s c c c c"
    "s c c c c";
}
